body {
    background-image: url("../img/fondo.gif");
    background-repeat: repeat;
    box-sizing: border-box;
}

#header {
    position: relative;
}

.form-control:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: 0 !important;
}

/* N A V B A R */

@media (min-width: 990px) {
    .navbar {
        height: 40px;
    }
}

.nav-item {
    display: block;

}

#contactanos {
    padding-right: 30px;
    color: #d500e5;
    font-size: small;
}

#contactanos:hover {
    color: #68d5df;
    transition-delay: 0.001s;
}

#casa {
    color: #68d5df;
    font-size: small;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pos_logo {
    z-index: 1;
    left: -1%;
    padding: 0;
    height: auto;
    width: 180px;
}

#boton-buscar {
    height: 25px;
}

.icono_lupa {
    position: relative;
    width: 15px;
    height: auto;
    left: -10px;
}

.icono {
    position: relative;
    left: -5px;
    bottom: 2px;
}

.navbar-toggler-icon {
    color: white;
}

/* C A R D */

.cajita {
    border: solid #d500e5 2px;
    margin: 0;
    position: relative;
    max-width: 250px;
    max-height: 380px;
    background: white;
    text-align: center;
    padding: 0px;
}

h1 {
    font-size: 180%;
    color: #0c004b;
}

h5 {
    color: white;
    text-shadow: 2px 0px #68d5df, 0px 2px #d500e5;
}

li {
    text-shadow: none;
    display: list-item;
    list-style: hiragana outside none;
}

.title {
    color: #0c004b;
}

button {
    border: none;
    bottom: 5%;
    display: inline-block;
    padding: 0px;
    color: #d500e5;
    background-color: #0c004b;
    text-align: center;
    cursor: pointer;
    height: 40px;
    width: 100%;
    font-size: 18px;
}

.VerSetup {
    outline: solid #d500e5 2px;
}

.descripcion {
    margin-bottom: 0;
    padding-right: 2%;
    text-align: justify;
    text-align: left;
    font-size: x-small;
    color: #0c004b;
}

br {
    content: " ";
    margin: 1px 0;
    display: block;
    line-height: 100%;
}

button:hover,
a:hover {
    color: #68d5df;
}

#popover {
    outline: none;
    margin: 0;
    width: 50%;
    color: #d500e5;
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
    font-size: xx-small;
    height: 10px;
    text-decoration: underline;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
        width: 50%;
    }
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 2px solid #d500e5;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #0c004b;
    color: #68d5df;
    border: 2px solid #68d5df;
}

.pagination a:hover:not(.active) {
    background-color: #0c004b;
}

.borde-pag-completa {
    border-left: 2px solid #d500e5;
    border-right: 2px solid #d500e5;
    border-bottom: 2px solid #d500e5;
    padding: 0;
}