body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}

#header {
    position: relative;
}   

/* S E L E C T I O N */
::selection {
    background-color: #fc21f9;
    color: white;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.form-control:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: 0 !important;
}

/* B O R D E R */
.borde-rosado {
    border-left: 2px solid #fc21f9;
    border-right: 2px solid #fc21f9;
    border-bottom: 2px solid #fc21f9;
}

/* C E N T E R */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* N A V B A R */
.navbar {
    background-color: #48146d;
}

@media (min-width: 990px) {
    .navbar {
        height: 40px;
    }
}

.nav-link {
    color: #fc21f9;
    font-size: small;
}

#logo {
    z-index: 1;
    left: -1%;
    padding: 0;
    height: auto;
    width: 17%;
}

.iconos {
    width: 0.6rem;
    height: auto;
}

#menu-texto {
    color: #fc21f9;
    font-size: small;
}

#menu-texto:hover {
    color: #4999fc;
    transition-delay: 0.001s;
}

.navbar li {
    margin: 2px 15px 0 0;
}

.icono-lupa {
    position: relative;
    width: 0.7rem;
    height: auto;
    left: -10px;
}

#boton-buscar {
    height: 25px;
}

#menu-texto-current {
    color: #4999fc;
}

/* C A R O U S E L */
.carousel {
    z-index: 0;
}
.carousel-caption {
    color: black;
}

.carousel-indicators,
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.texto-carousel {
    font-size: small;
    line-height: 1;
    padding-bottom: 5%;
}

