body {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

::selection {
    background-color: #fc21f9;
    color: white;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

#header {
    position: relative;
}

.form-control:focus {
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus {
    outline: 0 !important;
}

/* N A V B A R */

@media (min-width: 990px) {
    .navbar {
        height: 40px;
    }
}

.nav-item {
    display: block;
}

#contactanos {
    padding-right: 30px;
    color: #fc21f9;
    font-size: small;
}

#contactanos:hover {
    color: #4999fc;
    transition-delay: 0.001s;
}

#casa {
    color: #4999fc;
    font-size: small;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pos_logo {
    z-index: 1;
    left: -1%;
    padding: 0;
    height: auto;
    width: 180px;
}

#boton-buscar {
    height: 25px;
}

.icono_lupa {
    position: relative;
    width: 15px;
    height: auto;
    left: -10px;
}

.icono {
    position: relative;
    left: -5px;
    bottom: 2px;
}

.navbar-toggler-icon {
    color: white;
}

/* C A R D */
.card-title {
    font-size: 180%;
    text-align: center;
}

.card-text {
    font-size: 100%;
    text-align: center;
}

.card-img-top {
    width: 50%; 
    align-self: center; 
    margin-top:5%;
}

ul .list-group-item {
    padding: 2%;
    font-size: small;
}

.btn-primary {
    background-color: #48146d;
    border: none;
}

.btn-primary:hover {
    background-color: #4999fc;
}

div .fondo-cuadrado {
    background-color: white;
    padding: 0px;
    z-index: 0;
    margin: 0;
    vertical-align: top;
}

.borde-pag-completa {
    border-left: 2px solid #fc21f9;
    border-right: 2px solid #fc21f9;
    border-bottom: 2px solid #fc21f9;
    padding: 0;
}

